$bg = #eff7f9     // 背景色
$main = #02a9c2   // 主色
$sub = #8a73ed    // 辅助色
$red = #ff6d85
$yellow = #f60
$blue = #5296ff
$green = #2c7
$gray = #919191
$light = #cdd2d5  // 浅灰色
$dark = #4c5355   // 深灰色
$back = #dde6ea   // 背景分隔色
$black = #000
$white = #fff

_light(color)
  lighten(color,85%)
  
_border(color=#ddd,size=1,dir='')
  border{dir}:size solid color
